*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --darkPink: #D99BA8;
    --darkerPink: #B76E79;
    --strokePink: #CD9CC5;
    --pink: #FADADD;


    --fontMain: "Playfair Display", serif;
    --fontSecond: "Source Sans 3", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}


body{
    background-color: var(--pink);
    overflow-x: hidden;
}


header{
    background-color: var(--darkPink);
}


h1{
    font-size: 3.5rem;
    font-family: var(--fontMain);
    font-weight: 500;
    line-height: 1.2;
}

h3{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.2;
}

a, p{
    font-family: var(--fontSecond);
}


main > section:nth-child(even) {
    background-color: #F9C6CB; 
}








nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;

    padding: 15px;
}

nav div{
    display: flex;
    gap: 50px;
    color: white;
    font-family: var(--fontSecond);

    font-size: 1.2rem;
}


.navMobile{
    display: none;
}

main{
    overflow-x: hidden;
}

.mainPage{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;


    padding: 100px 0px;

    width: 85%;
    margin: 0 auto;
}
.mainLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 30px;


}
.mainLeft h1{
    font-size: 4.5rem;
}
.mainLeft p{
    width: 50%;
    font-size: 1.4rem;
}

.mainLeft a{
    font-size: 1.3rem;

    background-color: var(--darkerPink);
    padding: 15px;

    border-radius: 5px;

    color: white;
}

.mainLeft h1 span{
    position: relative;
    
}

.mainLeft h1 span::after{
    content: "";
    width: 100vw;
    height: 7px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--strokePink);

    z-index: -1;
}

.mainRight{
    width: auto;
    position: relative;
}


.mainRight img{
    width: 100%;
    min-width: 500px;

    filter: drop-shadow(2px 2px 4px var(--strokePink));
}



.navBtns::before{
    display: none;
}

.navBtns{
    position: absolute;
    right: 40px;
    top: 50px;
}




/* Services Page */


.servicesPage{
    padding: 100px 0;
}

.servicesPage h1{
    text-align: center;
}

.servicesContainer{
    padding-top: 100px;
    padding: 100px 20px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;

    gap: 10vw;



    flex-wrap: wrap;
}

.servicesContainer img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
}


.pricesContainer{
    background-color: white;
    margin-top: -5px;
    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    height: 250px;
}


/* Facials Page */

.facialsPage{
    padding: 100px 0;
}
.facialsPage h1{
    padding-bottom: 50px;
    text-align: center;
}

.facialsPageBottom{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    height: fit-content;

    flex-wrap: wrap;

    padding: 10px 20px;

    gap: 100px;
}

.facialsPageBottom img{
    display: block;
}


.facialPriceContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 20px 0px;

    font-size: 1.5rem;

}


/* Piercing and Candling page */

.earAndNosePage{
    padding: 200px 0;
}


.earAndNosePage h1{
    text-align: center;
    padding-bottom: 75px;
}

.earAndNosePage h3{
    padding-bottom: 30px;
}

.earAndNosePage .container{

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;


    flex-wrap: wrap-reverse;
    padding: 10px 20px;

    gap: 10vw;
}



/* More about us page */

.moreAboutUsPage{
    padding: 150px 0;
}

.moreAboutUsPage h1{
    padding-bottom: 100px;
    text-align: center;
}

.moreAboutUsPage .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 85%;
    margin: 0 auto;

    gap: 100px;
}

.moreAboutUsPage .element{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.moreAboutUsPage .element p{
    width: 50%;
    font-size: 1.5rem;
}
.moreAboutUsPage .bottom{
    flex-direction: row-reverse;
    text-align: right;
}

.moreAboutUsPage .element img{
    width: 30%;
    
    aspect-ratio: 3 / 2;
    object-fit: cover;

    border-radius: 10px;
}









/* Testimonials */

.testimonialsPage{
    padding: 100px;
}

.testimonialsPage h1{
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.testimonialsPage h3{
    font-size: 2rem;
    padding-bottom: 20px;
}





.testimonialsTop{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}


/* Slider Arrows */


.sliderArrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 5px;
}

.scrollArrow{
    background-color: var(--darkerPink);
    color: white;
    font-size: 1.5rem;
    padding: 5px 40px;
    border-radius: 20px;

    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;

}

.scrollArrow:hover{
    background-color: #9E5C66;
}

.scrollArrow:active{
    background-color: #864D54;
}











/* Slider */

.sliderContainer{
    padding: 20px 0 0 0;
}

.cardWrapper{
    padding: 25px 0px;

    display: flex;
    flex-direction: column-reverse;

    gap: 20px;
}

.cardList{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 50px;


    overflow-x: scroll;

    scroll-behavior: smooth;
    
}


.cardList::-webkit-scrollbar{
    display: none;
}



.cardItem{
    min-width: 400px;

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    

    background-color: white;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;



    position: relative;
}

.personInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.profilePic{
    width: 40px;
    border-radius: 50%;
}
.personInfoInner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin-left: 5px;

}

.personInfoInner h3{
    font-size: 1rem;
}

.personReviewStars{
    color: gold;
}

.personWrittenReview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.readMoreButton{
    display: none;
}
.linkToReview{
    position: absolute;
    bottom: 20px;
    right: 20px;
}




















/* contactPage */

.contactPage{
    padding-bottom: 100px;

    width: 85%;
    margin: 0 auto;
}

.contactPage h1{
    text-align: center;
    padding: 100px 0px;
}

.contactPage .container{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;

    gap: 10vw;


    flex-wrap: wrap;
    

    font-size: 1.4rem;
}



.contactRight form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
    
}

.contactInputs{
    padding: 20px 0;
    padding-left: 15px;
    min-width: 500px;
    width: 100%;
    border-radius: 5px;

    outline: none;
    border: none;
    background-color: white;
    
}

.contactInputs::placeholder, .contactRight textarea::placeholder{
    color: gray;
    font-family: var(--fontSecond);
}

.contactRight textarea{
    min-height: 150px;
    max-height: 200px;
}

.contactRight a{
    background-color: #B76E79;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}




.smallerMap{
    display: none;
}



/* Footer */

footer{
    width: 100%;
    background-color: #363636;
}
.footerBig{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    
    padding: 40px;
}

.footerSocials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;

    font-size: 1.5rem;
    color: white;
}

.footerSmall{
    background-color: lightgray;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 10px 20px;
}


.footerSmall span{
    border-bottom: 2px solid blue;
    color: blue;
}































@media (max-width: 1000px){
    .mainPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 100px;
    }

    .mainHeaderBr{
        display: none;
    }

    .mainLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }
    
    .mainRight{
        width: 60vw;

    }

    .mainRight img{
        min-width: 200px;
        width: 100%;
        filter: drop-shadow(2px 2px 4px var(--strokePink));
    }
    .mainLeft h1{
        width: 100%;
        font-size: 4rem;
    }

    .mainLeft p{
        width: 75%;
    }

    .mainLeft h1 span::after{
        display: none;
    }

    .bookButton{
        position: relative;
    }

    .bookButton::after{
        content: "";
        height: 100px;
        width: 3px;
        position: absolute;

        left: 50%;
        top: 100%;

        background-color: var(--strokePink);
    }



    .facialsPageBottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .facialPriceContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        gap: 40px;

        margin-top: -40px;

    }


    .moreAboutUsPage .element img{
        width: 250px;
    }





}













@media (max-width: 768px){

    .navRight{
        display: none;
    }



    .navMobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        position: fixed;
        width: 100%;
        height: 100%;

        top: 0;
        left: 100%;


        
        background-color: var(--strokePink);

        z-index: 2;

        transition: all 1s ease;
    }

    .navMobile.active{
        left: 0; 
    }

    .navMobile img{
        padding-bottom: 50px;
    }

    .navBtns::before{
        display: block;
    }
    .navBtns{
        display: block;
        font-size: 1.5rem;
        color: white;

        cursor: pointer;
    }

    .navX{
        position: absolute;
        top: 40px;
        right: 40px;
    }






    .mainLeft h1{
        font-size: 3.5rem;
    }






    .facialsPageBottom img{
        width: 90vw;
    }



    .moreAboutUsPage .element{
        display: flex;
        flex-direction: column;

        width: 100%;

        gap: 40px;
    }

    .moreAboutUsPage .element p{
        width: 80%;

        text-align: center;
    }

    .moreAboutUsPage .element img{
        width: 50vw;
    }


}





@media (max-width: 650px){


    .mainLeft h1{
        font-size: clamp(2.5rem, 8vw, 8vw);
        width: 100%;
    }

    .mainLeft p{
        width: 85%;
        font-size: clamp(1.25rem, 4vw, 4vw);
    }

    h1{
        font-size: clamp(2rem, 8vw, 8vw);
    }

    h3{
        font-size: clamp(1.5rem, 7vw, 7vw);
    }


    .testimonialsPage h1{
        font-size: clamp(1.5rem, 7vw, 7vw);
    }

    .testimonialsPage h3{
        font-size: clamp(1.2rem, 5.5vw, 5.5vw);
    }

    
    .facialPriceContainer p{
        font-size: clamp(1rem, 4vw, 4vw);
    }

    .mainPage{
        padding-top: 50px;
        width: 95%;
    }

    .mainRight{
        min-width: 250px;
    }


    .servicesContainer{
        padding-top: 50px;
    }



    .earAndNosePage{
        text-align: center;
    }

    .piercingLeft img{
        width: 50vw;
    }
    .candleRight img{
        width: 80vw;
    }




    .moreAboutUsPage .element p{
        font-size: clamp(1.3rem, 4vw, 4vw);
        width: 90%;
    }

    .moreAboutUsPage .element img{
        width: 75vw;
    }



    .testimonialsPage{
        margin: 0;
        padding: 100px 20px;
    }
    .testimonialsTop{
        flex-direction: column;
    }

    .cardItem{
        min-width: 83vw;
        padding: 20px;
        padding-bottom: 50px;
    }

    .testimonialsPage h3{
        padding-bottom: 5px;
    }


    .biggerMap{
        display: none;
    }

    .smallerMap{
        display: block;
    }


    .contactInputs{
        width: clamp(200px, 85vw, 85vw);
        min-width: 200px;
    }

    .contactRight textarea{
        max-width: 85vw;
        min-width: 85vw;
    }
}



@media (max-width: 400px){
    .servicesContainer{
        scale: 0.9;
    }

    .servicesContainer{
        padding-top: 0px;
    }


    .facialsPageBottom{
        gap: 50px;
        align-items: flex-start;
        padding: 0 5px;
    }

    .facialPriceContainer{
        gap: 20px;
        align-items: flex-start;
        padding-left: 10px;
    }
    .facialsPageBottom img{
        width: 95vw;
        margin: 0 auto;
    }

    .facialsPage{
        padding-bottom: 50px;
    }



    .earAndNosePage{
        padding: 75px 10px;
    }


    .moreAboutUsPage{
        padding-top: 50px;
    }

    .moreAboutUsPage h1{
        padding-bottom: 50px;
    }
}


@media (max-width: 300px){
    .servicesContainer{
        scale: 0.8;
    }
}